{% extends "base.j2" %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){ new Clipboard('.btn');});

$(document).ready(function() {
    $('#datafiles').DataTable({
        deferRender:    true,
        scrollY:        window.innerHeight,
        scrollCollapse: true,
        scroller:       true
    });
});


</script>
<div class="container">

<!--Duration: {{ duration }}-->
    <form method="POST">
        <input type="text" name="text" pattern="[a-zA-Z\s]+" minlength="3" maxlength="20" placeholder="Letters only: {{anagram}}"><br/><br/>
        <!-- input type="checkbox" name="dictonly"> Dictionary Words Only<br/-->
        <input type="submit" class="btn btn-primary" role="button">
    </form>                 
    <hr/>
    <table id="datafiles" class="table table-striped" cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr>
        <th>Anagrams</th>
    </tr>
    </thead>
    <tbody>
    {% for f in files %}
        <tr>
            <td>{{ f['word'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
    {% endblock %}


</div>
